{% extends 'catalog/base.html' %}
{% load media_path %}

{% block content %}
<div class="row text-center">
    <div class="col-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.title }} ({{ object.slug }})</h4>
            </div>
            <div class="card-body">
                <!--                <img src="/media/{{ object.image }}" class="mb-4 mt-4">-->
                <img src="{{ object.preview | path_media }}" class="mb-4 mt-4">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>- Дата публикации: {{ object.date_of_creation }}</li>
                    <li>- Описание: {{ object.content }}</li>
                    <li>- Просмотров: {{ object.number_of_views }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
